#{@model_name}:
= @camper_question.text

From / De:
= @child.full_name

Please don't delay in answering this child’s question! Log into Faith Spark now to reply to this question.

This email address has been designated to receive email notifications about new QBox questions. If you would like to make any changes, log into Faith Spark and edit your location.

#{'------------------'}

S’il vous plaît, ne tardez pas à répondre à la question de cet enfant! Connectez-vous à Faith Spark maintenant pour répondre à cette question.

Cette adresse courriel a été désignée afin de recevoir les notifications concernant les nouvelles questions. Si vous souhaitez apporter des modifications, connectez-vous à Faith Spark et changez votre emplacement.
