:scss
  $primary-color: #{current_tenant.color_theme.primary_color};
  $secondary-color: #{current_tenant.color_theme.secondary_color};

  .navbar {
    background: darken($primary-color, 5%);
  }

  a {
    color: $primary-color;
  }

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus {
    background-color: $primary-color !important;
    border-color: darken($primary-color, 5%);
  }

  .sidebar {
    .nav-link.active {
      color: darken($primary-color, 20%);
    }
  }
