The live event '#{@event.name}' from tenant '#{@event.tenant.name}' has automatically stopped as it exceeded the Live event duration limit.

Events are automatically stopped after #{@max_duration} minutes.
